@font-face {
  font-family: 'FreightDisplaySemiBoldItalic';
    src: url('freight/69942f4dd05decf2c8f4998484b42f23.eot');
    src: url('freight/69942f4dd05decf2c8f4998484b42f23.eot?#iefix') format('embedded-opentype'),
         url('freight/69942f4dd05decf2c8f4998484b42f23.woff2') format('woff2'),
         url('freight/69942f4dd05decf2c8f4998484b42f23.woff') format('woff'),
         url('freight/69942f4dd05decf2c8f4998484b42f23.ttf') format('truetype'),
         url('freight/69942f4dd05decf2c8f4998484b42f23.svg#FreightDisplaySemiBoldItalic') format('svg');
}

@font-face {
  font-family: 'FreightDisplayBook';
    src: url('freight/94f471810369b8531227eec84cda498c.eot');
    src: url('freight/94f471810369b8531227eec84cda498c.eot?#iefix') format('embedded-opentype'),
         url('freight/94f471810369b8531227eec84cda498c.woff2') format('woff2'),
         url('freight/94f471810369b8531227eec84cda498c.woff') format('woff'),
         url('freight/94f471810369b8531227eec84cda498c.ttf') format('truetype'),
         url('freight/94f471810369b8531227eec84cda498c.svg#FreightDisplayBook') format('svg');
}

@font-face {
  font-family: "FreightDisplayBold";
    src: url("freight/979f373e459d207dc71e51978c3c572f.eot");
    src: url("freight/979f373e459d207dc71e51978c3c572f.eot?#iefix") format("embedded-opentype"),
         url("freight/979f373e459d207dc71e51978c3c572f.woff2") format("woff2"),
         url("freight/979f373e459d207dc71e51978c3c572f.woff") format("woff"),
         url("freight/979f373e459d207dc71e51978c3c572f.ttf") format("truetype"),
         url("freight/979f373e459d207dc71e51978c3c572f.svg#FreightDisplayBold") format("svg");
}

@font-face {
  font-family: "FreightTextBook";
    src: url("freight/827e2a100ab1e08b2e680b216cc0d933.eot");
    src: url("freight/827e2a100ab1e08b2e680b216cc0d933.eot?#iefix") format("embedded-opentype"),
         url("freight/827e2a100ab1e08b2e680b216cc0d933.woff2") format("woff2"),
         url("freight/827e2a100ab1e08b2e680b216cc0d933.woff") format("woff"),
         url("freight/827e2a100ab1e08b2e680b216cc0d933.ttf") format("truetype"),
         url("freight/827e2a100ab1e08b2e680b216cc0d933.svg#FreightTextBook") format("svg");
}

@font-face {
  font-family: "FreightTextBookItalic";
    src: url("freight/85b325ff513c9d9737062e35897f6155.eot");
    src: url("freight/85b325ff513c9d9737062e35897f6155.eot?#iefix") format("embedded-opentype"),
         url("freight/85b325ff513c9d9737062e35897f6155.woff2") format("woff2"),
         url("freight/85b325ff513c9d9737062e35897f6155.woff") format("woff"),
         url("freight/85b325ff513c9d9737062e35897f6155.ttf") format("truetype"),
         url("freight/85b325ff513c9d9737062e35897f6155.svg#FreightTextBookItalic") format("svg");
}

* {
  vertical-align: top;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1020px;
  margin: auto;
  color: #111114;
  background-color: #fafafc;
}

::-moz-selection {
  background: rgba(255, 255, 0, 0.5);
}

::selection {
  background: rgba(255, 255, 0, 0.5);
}

.hero {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  max-width: 100%;
  opacity: 0.3;
}

h1 {
  font-family: 'FreightDisplaySemiBoldItalic', serif;
  font-size: 48px;
}

h2 {
  font-family: 'FreightDisplayBook', serif;
  font-size: 28px;
}

h3 {
  font-family: 'FreightDisplayBold', serif;
  font-size: 24px;
}

p {
  font-family: 'FreightTextBook', serif;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  color: #111114;
  text-decoration: none;
  border-bottom: 1px dashed #111114;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  cursor: pointer;
  color: #3232ff;
  border-bottom: 1px dashed #3232ff;
}

img {
  max-width: 100%;
}

.spacer-1, .spacer-2, .spacer-3, .spacer-4, .spacer-5, .spacer-6, .spacer-7, .spacer-8 {
  clear: both;
}

.spacer-1 {
  height: 25px;
}

.spacer-2 {
  height: 50px;
}

.spacer-3 {
  height: 75px;
}

.spacer-4 {
  height: 100px;
}

.spacer-5 {
  height: 125px;
}

.spacer-6 {
  height: 150px;
}

.spacer-7 {
  height: 175px;
}

.spacer-8 {
  height: 200px;
}

.h2-home {
  max-width: 440px;
}

.h2-unboard {
  max-width: 520px;
}

.h2-yelp {
  max-width: 480px;
}

.thing {
  display: block;
  float: left;
  max-width: 440px;
}

.text {
  display: block;
  float: left;
  max-width: 580px;
  padding-left: 50px;
}

.note {
  display: block;
  float: left;
  width: 440px;
  min-height: 1px;
}

.explore {
  font-family: 'FreightTextBookItalic', serif;
}

.back {
  position: relative;
  top: -30px;
}

.large {
  display: block;
}

.small {
  display: none;
}

@media (max-width: 1199px) {
  body {
    padding: 0 100px;
  }

  .large {
    display: none;
  }

  .small {
    display: block;
  }

  .text {
    width: auto;
    max-width: 530px;
    padding: 0;
  }

  .thing {
    max-width: 100%;
  }
}

@media (max-width: 799px) {
  body {
    padding: 0 50px;
  }
}

@media (max-width: 599px) {
  body {
    padding: 0 25px;
  }
}